<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Lol</title>
         <link rel="stylesheet" href="{% static 'jokes/site.css' %}">
    </head>
    <body>
      <h2>We got your joke!</h2>
      <div>
        <p>
        {{ joke.setup }}
        </p>
        <p>
        {{ joke.punchline }}
        </p>
      </div>
      <nav>
          <a href="{% url 'joke_form' %}">Got another one?</a>
      </nav>
      <nav>
        <a href="{% url 'jokes' %}">Show me the jokes!</a>
      </nav>
    </body>
</html>
