<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Index</title>
  </head>
  <body>
    <h2>Flutter, where birds of a feather gossip together.</h2>
    <p}">Your song is fluttering upon the winds.</p>
    <blockquote>
      "{{ new_post.text }}"
    </blockquote>
    <ul>
      <li>
        <a href="{% url 'index' %}">Flutter among the latest songs.</a>
      </li>
      <li>
        <a href="{% url 'post_form' %}">Sing another song?</a>
      </li>
    </ul>
  </body>
</html>